<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>309772512672-7nae71hd93recd3bdo8fo2ucfsibfb9d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.309772512672-7nae71hd93recd3bdo8fo2ucfsibfb9d</string>
	<key>API_KEY</key>
	<string>AIzaSyBeGCgxPlNj6zV4ob8AQHeyXkR_ZhvMSCE</string>
	<key>GCM_SENDER_ID</key>
	<string>309772512672</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jwitapps.IOGame</string>
	<key>PROJECT_ID</key>
	<string>iogame-90996</string>
	<key>STORAGE_BUCKET</key>
	<string>iogame-90996.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:309772512672:ios:580ec68f63a752e8</string>
	<key>DATABASE_URL</key>
	<string>https://iogame-90996.firebaseio.com</string>
</dict>
</plist>